<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drower tabs</title>

    <!--JQuerry-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" crossorigin="anonymous"></script>

    <!--CSS-->
    <link rel="stylesheet" href="/styles/root.css">

    <style>
        @media (max-width: 899px) {}
    </style>
</head>

<body>
    <!--Start-->
    <ul>
        <li>
            <a href="#">
                <span>Index</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>About</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Services</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Portfolio</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Packages</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Testimonials</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Blog</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span>Contact</span>
            </a>
        </li>
    </ul>
    <hr>
    <!--End-->




    <!--To avoid errors-->
    <main>
        <h2>Drawer tabs</h2>
    </main>
</body>

</html>